* {
   background-image:url(../img/planetas\ background.jpg);
   margin: 0em;
   padding: 0em;
}

.secVisible{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:transparent;
    left: 7em;
    top: 3em;
    width: 90vw;
    height: 90vh;
}
  /* secciocn fase1 */
.logo{
    display:initial;
    position: relative;
    background:transparent;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    top: -18em;
    left: 4em;
    width: 38vw;
    height: 10vw;
}

.startBotton{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(/img/botonStart.png);
    background-color: transparent;
    color: silver;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat:no-repeat ;
    border: none;
    width: 12em;
    height:12em;
    border-radius: 50%;
    left: -80em ;
}

.startBotton:hover {
    transform: scale(1.2);
    transition:1s;
}

.gifScreen{
    display:flex;
    position: absolute;
    background: none;
     top: 14em;
     width:60em;
     height:33.5em;
     border-radius: 12em;
}

#video{
    border-radius: 12em;
    border: silver 0.4em solid;
}

/* boton de skip */


/* section fase2 */


.skip{
    display:flex;
    position: absolute;
    width: 2em;
    height: 2em;
    right: 20em;
    color: white;
    background-color: red;
}