body {
   background-image:url(../img/planetas\ background.jpg);
   margin: 0em;
   padding: 0em;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


}

.secVisible{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 7em;
    top: 3em;
    width: 90vw;
    height: 90vh;
}
  /* secciocn fase1 */
.logo{
    display:initial;
    position: relative;
    background:transparent;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    top: -23em;
    left: 14em;
    width: 38vw;
    height: 10vw;
}

.startBotton{
    display:flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    background-image: url(../img/botonStart.png);
    background-color: transparent;
    color: silver;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat:no-repeat ;
    border: none;
    font-size: 1em;
    width: 12em;
    height:12em;
    border-radius: 50%;
    left: -79em ;
}

.startBotton:hover {
    transform: scale(1.2);
    transition:1s;
}

.gifScreen{
     display:flex;
     position: absolute;
     background: none;
     top: 14em;
     width:60em;
     height:33.5em;
     border-radius: 12em;
}

#video{
     border-radius: 12em;
     border: silver 0.4em solid;
}

/* boton de skip */
#skipBtn{
    position: relative;
    left: 15em;
    text-align: center;
    cursor: pointer;
}

/* section fase2 */
.luchadores{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    top: 8em;
    cursor: pointer;
}


.picFighter{
    display: flex;
    position: relative;
    width: 20em;
    height: 30em;
    border:transparent 3em  solid;
}

.picFighter:hover{
    transform: scale(1.2);
    transition: 1s;
}

.eligePeleadores{
    position: relative;
    top: 2em;
    left: 10em;
    font-size: 4em;
    color: rgb(238, 238, 238);
}

.navePanel{
    width: 15em;
    height: 15em;
}
.fotoNave{
    display: flex;
    position: relative;
    width: 20em;
    height: 20em;
    left: 55em;
    cursor: pointer;
}
.fotoNave:hover{
    transition: 1s;
    transform: rotate(360deg) scale(1.5);

}
.teamCharacters{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    pointer-events:none;
    left: 10em
};

p{
    z-index: 2;
    color: rgb(255, 255, 255);
}
.teamHorizontal{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: -18em
}
.winner{ 
    position: relative;
    left: -15em;
    width: 12em;
}

#versus{
    width: 10em;
    height: 10em;
}

#naveVersus{
    left: 110em;
    width: 10em;
    height: 10em;
}

#logoWinner{
    width: 24em;
    height: 15em;
}

.seleccionado {
        filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

p {
    color: white;
}
.progress{
    display: flex;

    width: 20em;
}
.bg-danger{
    background-color: silver;
}